<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <h1>Home Page</h1>
    <ul>
      <li>This is my EJS Page.</li>
      <li>By this we can render any things.</li>
      <li>We can make any things by this.</li>
    </ul>
  </body>
</html>
