<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1 class="header">Contact List</h1>
    <div class="box">
      <ul>
        <% for(let i of contactList){%>
        <li>
          <div><%=i.name%></div>
          <div><%=i.phone%></div>
          <div>
            <a href="/deleteContact/?phone=<%=i.phone%>">delete</a>
          </div>
         
        </li>
        <%}%>
      </ul>
    </div>
    <form class="form" action="/addContact" method="post">
      <input
        type="text"
        name="name"
        id="name"
        required
        placeholder="Enter Name"
      />
      <br />
      <input
        type="number"
        name="phone"
        id="phone"
        required
        placeholder="Enter Phone Number"
      />
      <br />
      <button type="submit">Add Contact</button>
    </form>
  </body>
</html>
