<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>SignIn Page</h1>
    <form action="/users/createSession" method="post">
      <input
        type="email"
        name="email"
        id="email"
        required
        placeholder="Enter Your Email"
      />
      <input
        type="password"
        name="password"
        id="password"
        required
        placeholder="Enter Your Password"
      />
      <input type="submit" value="SignIn" />
    </form>
  </body>
</html>
