<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1>Home Page</h1>
    <ul>
      <li>My Name is Nitesh Yadav</li>
      <li>My Father's name is Babban Yadav</li>
      <li>I completed my B.tech from MJPRU.</li>
    </ul>
  </body>
</html>
