<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1>This is the my about page.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis maxime,
      numquam esse laborum quibusdam aperiam dicta saepe. Atque, quo? Minus
      aliquam voluptate, doloremque impedit praesentium tempore quas corrupti
      laboriosam totam.
    </p>
  </body>
</html>
