<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1>This is my home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod
      voluptatibus, debitis labore temporibus eius quis ex illum pariatur
      possimus iusto repellat ab molestiae optio provident vitae non! Dolorem,
      ducimus.
    </p>
  </body>
</html>
