.box {
  text-align: center;
  display: flex;
  justify-content: center;
}

.body-content {
  width: 300px;
  background-color: green;
  border: 2px solid black;
}

ul > li {
  list-style-type: none;
}

input::-webkit-input-placeholder {
  /* Edge */
  color: gray;
}

input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

input::placeholder {
  color: gray;
}

form>input{
    margin-top: 5px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
  }
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
  }
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 25%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }